<%- include('../partials/header')  -%> 

<div class="root-div">
    
    <div class="page-title">
        <h1 class="page-title">ROUTINES</h1>
    </div>
    
    <% if (routines.length) { %>
        <div class="div-text">
            
            <a href="/routines/new" > <button class="create-button"> Create New Routine </button> </a> <br>
        <% routines.forEach(function(r) { %>
            
            <div class="div-text">
            <div class="body-div">
            <div id="title-div"> 
                <div class="counter">
                <%= r.rtName %> 
            </div>
        </div> 

            <% r.rtWorkouts.forEach(function (w){ %>

                <div class="rt-list">
                <p class="lists"> Workout: <%= w.name %> </p> <br> 
                <p class="lists"> Muscle Group: <%= w.muscleGroup %> </p> <br>
                <p class="lists"> Sets: <%= w.sets %> </p> <br>
                
            </div>
            <div class="phantom"></div>
        
           <% }) %> 
        
        
            <div class="button-div">
           <a href="stats/<%=r.id%>/new" > <button class="update-button"> Log Workout</button> </a>
           <form action="/routines/<%= r.id %>?_method=DELETE" class="delete-button" method="POST">
            <button type="submit" class="real-delete">Delete</button>
        </div>
          </form>
           <br>
        </div>
    </div>
    <h3> </h3>
            <% })%>  

            <% } else {%>
                <div class="div-text">
                <a href="/routines/new" > <button class="create-button"> Create New Workout </button> </a> <br>
                <h1 class="none"> No routines yet </h1> 
            </div>
                
                <% }%>
            
            </div>
        
</body>
</html>