<%- include('../partials/header')  -%>    

    <h1 class="page-title">UPDATE ROUTINE "<%=routines.rtName%>"</h1>

    <form action="/routines/<%=routines._id%>?_method=PUT" method="POST">
        <label>Routine Name:
            <input type="text" name="rtName" value="<%=routines.rtName%>">
        </label><br>
        <label> Select Workouts: <br>
            <% workouts.forEach(function (w) { %> 
                <input type="checkbox" name='rtWorkouts' value="<%=w._id%>"> 
                <label for="rtWorkouts"> <%=w.name%> </label><br> 
           <% }) %>
        </label><br>
        <input type="submit" value="Update Routine">
    </form>
</body>
</html>