<%- include('../partials/header')  -%> 

<div class="root-div">
    
    
    <div class="page-title">
        <h1 class="page-title">STATS</h1>
    </div>

   <% if (stats.length) { %>
    <div class="div-text">

    <a href="/routines" > <button class="create-button"> Log A Workout </button> </a> <br>

    <% stats.forEach(function(s){ %> 
        <div class="div-text">
        <% let counter = 1 %>

       <% s.stRoutine.forEach(function (r){ %> 
        <div class="body-div">
                <h3 class="routine-name"> Routine Name: <%= r.rtName %>  </h3>

                
                <p class="stat-data"> Date: <%=s.stDate.toISOString().substring(0,10)%> </p>


        <% r.rtWorkouts.forEach(function (w){ %>

            <div class="stats-w-bg">
            
            <h3 id="stat-title"> Workout: <%= w.name %> </h3> 

        <table>
            <tr> 
            <div class="stat-table">

            <% let weights = s.weight %>

            <p class="stat-data">Weight</p>

            <% weights.forEach(function (kg) { %>            
                    <p class="reps"><%= kg %></p>
            <% }) %> 

        </div>
    </tr>

    <tr>
                <div class="stat-table">

                <% let reps = s.reps %>

                <p class="stat-data">Reps</p>

                <% reps.forEach(function (count) { %>       
                    <p class="reps"> <%= count %></p>
                    <% }) %> 
                </div>
            </tr>
        </table>
    </div>
                
            
        <% }) %>
                
      <%  }) %> 
    
        <% counter++ %> 
        <div class="button-div">
        <form action="/stats/<%= s.id %>?_method=DELETE" class="delete-button" method="POST">
            <button type="submit" class="real-delete"> <div id="stat=del">Delete</div></button>
        </div>
          </form>

        
        </div>
    </div>
    <h1> </h1>
    <%})%>
 <% } else { %>
    
    <div class="div-text">
    <h1 class="none"> NO STATS YET, GO WORKOUT! </h1> 
    <a href="/routines"> <button class="create-button"> Log Some Stats </button></a>
</div>
 <% } %>

</div>
</body>
</html>